<footer class="footer">
    <div class="container text-center">
        <p>&copy; <%= new Date().getFullYear() %> Guess Who Or What. Todos los derechos reservados. Made by William Zapata Molina</p>
        <div class="credits-section">
            <p>Efecto de sonido de <a href="https://pixabay.com/es/users/sub_0987654321-39530663/?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=167181" target="_blank" rel="noopener noreferrer">Sub_0987654321</a> de <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=167181" target="_blank" rel="noopener noreferrer">Pixabay</a>.</p>
        </div>
    </div>
</footer>
